.hero{
    width: 100%;
    height: 70vh;
    background: #F3F4FF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero h1{
    font-size: 70px;
    font-weight: 800;
}

.hero  h2{
    font-size: 25px;
    font-weight: 400;
}

.hero h3{
    /* font-size: 20px; */
    font-weight: 900;
    margin-top: 50px;
}

.hero .search {
    width: 40%;
    height: 50px;
    background: #ffffff;
    border: 1px solid #7746df;
    margin-top: 30px;
    border-radius: 30px;
    overflow: hidden;
}

.hero .search form  input{
    width: 90%;
    height: 45px;
    border: 1px solid transparent;
    border: none;
    outline: none;
    padding-left: 10px;
    font-size: 18px;
    border-radius: 30px 0px 0px 30px;
    margin-bottom: 10px;
    text-align: center;
}
.hero .search form  input::placeholder{
    font-size: 28px;
    font-weight: 500;
    color: #787575;
    text-align: center;
}


.hero .search form button{
    width: 9%;
    height: 50px;
    border: 1px solid white;
    background: transparent;
}

.hero .search .bi{
    font-size: 25px;
    color: #000000;
    font-weight: bold;
    margin-right: 10px;

    
}


.hero .categories-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap: 20px;
    flex-wrap: wrap;
}
.hero .categories-menu button{
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 30px;
    border: 1px solid #000000;
    transition: all 0.3s ease;
}

.hero .categories-menu button:hover{
    background: #000000;
    color: #ffffff;
}



@media screen and (max-width:1100px) {
    .hero{
        width: 100%;
        height: auto;
        background: #F3F4FF;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .hero h1{
        font-size: 50px;
        font-weight: 800;
    }
    
    .hero  h2{
        font-size: 20px;
        font-weight: 400;
    }
    
    .hero .search{
        display: flex;
        width: 60%;
        height: 50px;
        background: #ffffff;
        /* border: 1px solid #ffffff; */
        margin-top: 30px;
        border-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .hero .search input{
        width: 90%;
        height: 100%;
        border: none;
        outline: none;
        padding-left: 10px;
        font-size: 18px;
        border-radius: 30px 0px 0px 30px;
    }
    .hero .search .bi{
        font-size: 25px;
        color: #000000;
        font-weight: bold;
        margin-right: 10px;
    }
    
}

@media screen and (max-width:800px) {

    
    .hero h1{
        font-size: 30px;
        font-weight: 800;
    }
    
    .hero  h2{
        font-size: 20px;
        font-weight: 400;
    }
    
    .hero .search{
        display: flex;
        width: 50%;
        height: 50px;
        background: #ffffff;
        /* border: 1px solid #ffffff; */
        margin-top: 30px;
        border-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .hero .search input{
        width: 90%;
        height: 100%;
        border: none;
        outline: none;
        padding-left: 10px;
        font-size: 18px;
        border-radius: 30px 0px 0px 30px;
    }
    .hero .search .bi{
        font-size: 25px;
        color: #000000;
        font-weight: bold;
        margin-right: 10px;
    }
    
}

@media screen and (max-width:600px) {

    
    .hero h1{
        font-size: 20px;
        font-weight: 800;
    }
    
    .hero  h2{
        font-size: 15px;
        font-weight: 400;
    }
    
    .hero .search{
        display: flex;
        width: 70%;
        height: 50px;
        background: #ffffff;
        /* border: 1px solid #ffffff; */
        margin-top: 30px;
        border-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .hero .search input{
        width: 90%;
        height: 100%;
        border: none;
        outline: none;
        padding-left: 10px;
        font-size: 18px;
        border-radius: 30px 0px 0px 30px;
    }
    .hero .search .bi{
        font-size: 25px;
        color: #000000;
        font-weight: bold;
        margin-right: 10px;
    }
}

@media screen and (max-width:500px) {

    
    .hero h1{
        font-size: 15px;
        font-weight: 800;
    }
    
    .hero  h2{
        font-size: 13px;
        font-weight: 400;
    }
    
    .hero .search{
        display: flex;
        width: 50%;
        height: 30px;
        background: #ffffff;
        /* border: 1px solid #ffffff; */
        margin-top: 30px;
        border-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .hero .search input{
        width: 90%;
        height: 100%;
        border: none;
        outline: none;
        padding-left: 10px;
        font-size: 18px;
        border-radius: 30px 0px 0px 30px;
    }
    .hero .search .bi{
        font-size: 20px;
        color: #000000;
        font-weight: bold;
        margin-right: 10px;
    }
}

@media screen and (max-width:400px) {
    

    
    .hero h1{
        font-size: 20px;
        font-weight: 800;
    }
    
    .hero  h2{
        font-size: 10px;
        font-weight: 400;
        text-align: center;
    }
    
    .hero .search{
        display: flex;
        width: 90%;
        height: 40px;
        background: #ffffff;
        border: 1px solid #ffffff;
        margin-top: 30px;
        border-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .hero .search input{
        width: 90%;
        height: 100%;
        border: none;
        outline: none;
        padding-left: 10px;
        font-size: 18px;
        border-radius: 30px 0px 0px 30px;
    }
    .hero .search .bi{
        font-size: 20px;
        color: #000000;
        font-weight: bold;
        margin-right: 10px;
    }
}
