.howitworks{
    width: 100%;
    height: auto;
    color: black;
   
    padding: 30px;
}

.howitworks h1{
    font-size: 3rem;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 30px;
}

.howitworks .container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.howitworks .box{
    background-color:  #afb6ff;
    width: 20%;
    padding: 2rem;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.howitworks .box img{
    background: none;
    max-width: 70%;
    object-fit: contain;
    margin-bottom: 20px;
}

.howitworks .box h2{
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 1rem;
    margin: 0 10px;
    /* white-space: nowrap; */
}
.howitworks .box h2 a{
    color:  #6204f0 ;
    text-decoration:underline;
    padding: 10px 20px;
    text-wrap: nowrap;
    border-radius: 30px;
}
.howitworks .box h2 a:hover{
    transition: all ease-in-out .4s;
    background: rgba(243, 226, 226, 0.615);
    color: #6204f0;
}

@media screen and (max-width:1200px) {
    .howitworks .container{
        flex-wrap: wrap;
    }
    .howitworks .box{
        width: 70%;
        margin: 20px 0;
    }

    .howitworks .container .box h2{
        font-size: 1.5rem;
    }
}

@media screen and (max-width:400px) {

    .howitworks h1{
        font-size: 2rem;
    }
    .howitworks .container .box h2{
        font-size: 0.9rem;
    }
}